/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* Background styles */
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('./Flower.jpg');
  background-size: cover;
}
/*.Background styles */

/* Wrapper styles */
.wrapper{
  width: 605px;
  background: #fff;
  opacity: 0.8;
  border-radius: 15px;
  padding: 30px 30px 25px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}
header.content :where(i, p, span){
  color: #000000;
}
.wrapper header{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
/*.Wrapper styles */

/* Quote styles */
.wrapper .content{
  margin: 35px 0;
}
.content .quote-area{
  display: flex;
  justify-content: center;
}
.quote-area i{
  font-size: 15px;
}
.quote-area i:first-child{
  margin: 3px 10px 0 0;
}
.quote-area i:last-child{
  display: flex;
  margin: 0 0 3px 10px;
  align-items: flex-end;
}
.quote-area .quote{
  font-size: 22px;
  text-align: center;
  word-break: keep-all;
}
/*.Quote styles */

/* Author styles */
.content .author{
  display: flex;
  font-size: 18px;
  margin-top: 20px;
  font-style: italic;
  justify-content: flex-end;
}
.author span:first-child{
  margin: -7px 5px 0 0;
  font-family: monospace;
}
/*.Author styles */

/* Buttons styles */
.wrapper .buttons{
  border-top: 1px solid #ccc;
}
.buttons .features{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.features ul{
  display: flex;
}
.features ul li{
  margin: 0 5px;
  height: 47px;
  width: 47px;
  display: flex;
  cursor: pointer;
  color: black;
  list-style: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(82, 82, 82);
  transition: all 0.3s ease;
}
.features ul li:first-child{
  margin-left: 0;
}
ul li:is(:hover, .active){
  color: #fff;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
ul .speech.active{
  pointer-events: none;
}
.buttons button{
  border: 1px solid rgb(82, 82, 82);
  color: black;
  font-size: 16px;
  cursor: pointer;
  padding: 13px 22px;
  border-radius: 30px;
  background: white;
}
.buttons button:hover{
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  color: white;
}
.buttons button.loading{
  opacity: 0.7;
  pointer-events: none;
}
/*.Buttons styles */

/* Making the page responsive */
@media (max-width:768px){
  body{
    position: relative;
  }
  .wrapper{
    position: relative;
    width: 650px;
  }
  }
   @media (max-width:450px){
         
         .quote-area{
          font-size: 15px;
         }
        #quote{
          font-size: 12px;
        }
      }